#question {
  color: blue;
}

.btn {
  color: purple;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.hidden {
  display: none;
}
