body,
html {
  height: 100%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #0e0e0e;
  height: 80vh;
  width: auto;
  user-select: none;
}

.bg {
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

.logo {
  position: absolute;
  top: 3%;
  left: 14%;
}

.heading1 {
  position: absolute;
  top: 10%;
  left: 14%;
  color: #e7e7eb;
  font-family: Arial;
  font-style: normal;
  font-size: 3vh;
}

.heading2 {
  position: absolute;
  top: 12%;
  left: 14%;
  color: #e7e7eb;
  font-family: Arial;
  font-style: normal;
  font-size: 5vh;
}

.instructions h3 {
  position: absolute;
  top: 34%;
  left: 14%;
  font-family: Arial;
  font-size: 3vh, 3vw;
  color: #c2128d;
}

.instructions p {
  position: absolute;
  top: 40%;
  left: 14%;
  font-size: 1.8vh;
  font-family: Arial;
  color: #e7e7eb;
}

.instructions ul {
  position: absolute;
  top: 48%;
  left: 14%;
  font-size: 1.8vh;
  font-family: Arial;
  color: #e7e7eb;
}

span {
  font-weight: bold;
}

.checkbox label {
  position: absolute;
  color: #e7e7eb;
  left: 20%;
  bottom: 15%;
  font-size: 1.8vh;
  font-family: Arial;
  margin-right: 20vw;
}

input.check-box {
  position: absolute;
  background-color: rgb(6, 6, 165);
  left: 14%;
  bottom: 15%;
  width: 2vh;
  height: 2vh;
  border: solid #e7e7eb;
  cursor: pointer;
}

.proceed {
  position: absolute;
  font-family: Arial;
  font-weight: bold;
  background-color: #41ffff;
  text-align: center;
  font-size: 2.5vh;
  padding: 2% 4%;
  bottom: 12%;
  right: 7%;
  border-color: #41ffff;
  color: #0b113b;
  background: #41ffff;
  box-shadow: 0 0 4vh #41ffff;
  cursor: pointer;
}
